#banc {
	width: 400px; /* wass #e7eefc */
	min-height: 400px; /* fails in IE */
	background-color: #F9F9F9;
}

.edit textarea {
	width: 100%;
	height: 400px;
	background-color: #F9F9F9;
	background-attachment: fixed;
	overflow: auto;
	scrollbar-base-color:#e7eefc;
	scrollbar-arrow-color:#e7eefc;
	border:0px;
	border-collapse:collapse; 
}
