#banc {
	font-size: 1.3em;
}

.banc img {
	border: none;
}

#authentication {
	display: none;
}

.banc .columnLeftQuote { vertical-align: top }
.banc .columnRightQuote { vertical-align: bottom }
.banc .columnText { 
    padding: 6px 0;
    text-align: justify;
}

.rating {
	text-align: right;
}

p.alternative {
    white-space: pre;
}

textarea.edit {
	width: 100%;
	min-height: 100px;
/*	background-color: #F9F9F9;
	background-attachment: fixed;*/
	overflow: auto;
/*	scrollbar-base-color:#e7eefc;
	scrollbar-arrow-color:#e7eefc;
	border:0px;
	border-collapse:collapse; */
}

.messagebox{
 position:absolute;
 width:100px;
 margin-left:30px;
 border:1px solid #c93;
 background:#ffc;
 padding:3px;
}

.messagebox_ok{
 position:absolute;
 width:auto;
 margin-left:30px;
 border:1px solid #349534;
 background:#C9FFCA;
 padding:3px;
 font-weight:bold;
 color:#008000;
}

.messagebox_error{
 position:absolute;
 width:auto;
 margin-left:30px;
 border:1px solid #CC0000;
 background:#F7CBCA;
 padding:3px;
 font-weight:bold;
 color:#CC0000;
}

/* RATING */

.ui-rater>span {vertical-align:top;}
.ui-rater-rating {margin-left:.8em}
.ui-rater-starsOff, .ui-rater-starsOn {display:inline-block; height:18px; background:url(/static/img/stars.png) repeat-x 0 0px;}
.ui-rater-starsOn {display:block; max-width:90px; top:0; background-position: 0 -36px;}
.ui-rater-starsHover {background-position: 0 -18px!important;}

/* END RATING */
